<h1>Academia Hack</h1>

<p title="Acerca de Hack">
  En {Hack} convertimos a noobs en creadores digitales en sólo 16 semanas de
  entrenamiento intensivo.
</p>

<img src="<%= image_path("logo_hack")%>" width="104" height="142">
<br>
<a href="http://academiahack.com.ve/">Ver más</a>
<br>
<img src="/app/assets/images/logo_hack.png" alt="logo hack" width="104" height="142">
